version: "3.9"

services:
  app:
    build: .
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - .:/var/www:delegated
      - vendor:/var/www/vendor
      - node_modules:/var/www/node_modules
    environment:
      PHP_OPCACHE_VALIDATE_TIMESTAMPS: "1"

  web:
    image: nginx:alpine
    container_name: laravel_web
    ports:
      - "8080:80"
    volumes:
      - .:/var/www:delegated
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: laravel_db
    environment:
      MYSQL_DATABASE: sp_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3308:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
  vendor:
  node_modules:
