
:root {
  --roboto-font :'Roboto', sans-serif;
  --noto-sans-jp-font: 'Noto Sans JP', sans-serif;
  --poppins-font: 'Poppins', sans-serif;;
  
  --h1-font-size: clamp(20px, 10vw, 100px);
  --h2-font-size: clamp(18px, 4vw, 40px);
  --fact-font-size: 18px;
  --small-font-size: clamp(14px, 2vw, 18px);
  --medium-font-size: clamp(18px, 3vw, 24px);
  --number-font-size: clamp(18px, 8vw, 80px);
  
  --blue-color: #1b84c9;
  --yellow-color: #f3b13f;
  --black-color: #1f1f1f;
  --green-color: #169c56;
  --red-color: #e93156;
  
  --gold-color: #f3dc8d;
  --silver-color: #c5c0b4;
  --bronze-color: #d0a379;
  --dark-gold-color: #f1d67e;
  --dark-silver-color: #c1bbae;
  --dark-bronze-color: #cd9d70;
  
  --ring-size: calc(min(200px, 14vw));
  --ring-border-size: calc(var(--ring-size) * 0.1);
  --ring-offset-left: calc(var(--ring-size) + var(--ring-border-size));
  --ring-offset-top: calc((var(--ring-size) - var(--ring-border-size)) * 0.5);
  
  --logo-size-w: calc((var(--ring-size) * 3 + var(--ring-border-size) * 2) * 1.5);
  --logo-size-h: calc((var(--ring-size) * 1.5 - var(--ring-border-size) * 0.5) * 2);
  --logo-bg-color: #f1f1f1;
}


.header-wrapper {
  margin: 50px 0px 0 0;
/*   margin-bottom: 100px; */
  position: relative;
}

.gallery {
  height: calc(var(--logo-size-h) * 1.25);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr calc(var(--logo-size-w) * 0.6) 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "p6 p6 p6 p6 . p2 p2 p3 p3"
    "p6 p6 p6 p6 . p2 p2 p3 p3"
    "p1 p1 p7 p7 . p4 p4 p4 p4"
    "p1 p1 p8 p8 . p4 p4 p4 p4";
}



.photo {
  background-position: center;
  background-size: cover;
  opacity: 0.95
}


section .slides-outer-container {
  width: 40%;
  min-height: 30vw;
  background: grey;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #0d542bdb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0d542bdb;
}

@media only screen and (max-width: 1200px) {
  section {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  section .text {
    width: 100%;
  }

  section .slides-outer-container {
    width: 100%;
    height: 50vw;
  }
}

.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
}

section .number {
  color: #f2f2f2;
  font-size: var(--small-font-size);
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  color: #f2f2f2;
/*   font-size: 18px; */
  font-size: var(--small-font-size);
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,0.6);
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.6s; 
  user-select: none;  /* Prevent text selection */
}

.prev {
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background: rgba(0,0,0,0.8);
}

.dots {
  width: 100%;
  position: absolute;
  bottom: -30px;
  display: flex;
  justify-content: center;
}
  
.dot {
  height: 20px;
  width: 20px;
  margin: 0 4px;
  border-radius: 50%;
  display: inline-block;
  background-color: #bbb;
  cursor: pointer;
  transition: background 0.6s;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

.place-number {
  margin-bottom: 20px;
}

.place-number p {
  text-align: center;
  font-family: var(--roboto-font);
  font-size: var(--number-font-size);
  text-shadow: 2px 2px 3px rgba(100,100,100,0.51);
}

.lines {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.line-wrap {
/*   filter: drop-shadow(2px 4px 3px rgba(50, 50, 0, 0.5)); */
  filter: drop-shadow(0.12vw 0.24vw 0.18vw rgba(50, 50, 0, 0.5));
}

.line {
  max-width: 90%;
  width: 16vw;
  height: 3vw;
  clip-path: polygon(0 0, 50% 60%, 100% 0, 100% 40%, 50% 100%, 0 40%);
  margin: 0px auto;
  position: relative;
}

.line-wrap:nth-child(1) .line {
  background:var(--bronze-color);
}

.line-wrap:nth-child(2) .line {
  background:var(--silver-color);
  top: -1.2vw;
}

.line-wrap:nth-child(3) .line {
  background:var(--gold-color);
  top: -2.4vw;
}

@media only screen and (max-width: 1200px) {
  .line-wrap:nth-child(2) .line {
    top: -1vw;
  }

  .line-wrap:nth-child(3) .line {
    top: -2vw;
  }
}

@media only screen and (max-width: 800px) {
  .line-wrap:nth-child(2) .line {
    top: -0.5vw;
  }

  .line-wrap:nth-child(3) .line {
    top: -1vw;
  }
}




.prime-banner{
    background-image: url('../img/stadium.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fa-dumbbell,.fa-solid,.program-prices .w-10 svg {
  font-size: 25px;
  margin-bottom: 10px;
  color: #0d542be0;
}
.grid .card{
  box-shadow: 0 3px 13px rgb(0 0 0 / 20%);
  cursor: pointer;
}
a.btn-show{
   background: #013d26 !important;
   color:#ffffff
}

a.btn-show:hover{
   background: #025837 !important;
}
.btn-outline{
  background: var(--btn-outline-bg);
    color: #013d26;
    border: 1px solid #013d26;
}
.btn-outline:hover{
  background: #00000017;
}
.min-h-screen{
     background: linear-gradient(135deg, #f8fafc, #b5cfbe4c ,#fff);
}
.bg-neutral-light{
  background: none;
}
.section-text-under,.card .text-small.text-neutral-muted, .program-prices .leading-relaxed{
  color: #717171;
}
.section-text-under{
  margin-top: 10px;
}
.services .card .w-10{
  font-size: 25px;
  margin-bottom: 10px;
  color: #0d542be0;
}
.sport-icon{
  font-size: 34px;
}
.two-sections-sport{
  margin: auto;
}
.sports .card.card-none{
  background: transparent;
  border:none;
  box-shadow: none !important;
  cursor: auto;
}

.sports .card{
  background: #bde4bbb3;
  background-color: #bde4bbb3;
}

h2.text-5xl{
  border-bottom: 5px solid #05674190;
  border-radius: 25%;
  display: inline-block;
  padding-bottom: 10px;

}

@media screen and (max-width: 768px) {
  .card.card-hover.text-center.card-none{
    display: none !important;
  }
}