:root {
    --roboto-font: "Roboto", sans-serif;
    --noto-sans-jp-font: "Noto Sans JP", sans-serif;
    --poppins-font: "Poppins", sans-serif;
    --h1-font-size: clamp(20px, 10vw, 100px);
    --h2-font-size: clamp(18px, 4vw, 40px);
    --fact-font-size: 18px;
    --small-font-size: clamp(14px, 2vw, 18px);
    --medium-font-size: clamp(18px, 3vw, 24px);
    --number-font-size: clamp(18px, 8vw, 80px);
    --blue-color: #1b84c9;
    --yellow-color: #f3b13f;
    --black-color: #1f1f1f;
    --green-color: #169c56;
    --red-color: #e93156;
    --gold-color: #f3dc8d;
    --silver-color: #c5c0b4;
    --bronze-color: #d0a379;
    --dark-gold-color: #f1d67e;
    --dark-silver-color: #c1bbae;
    --dark-bronze-color: #cd9d70;
    --ring-size: calc(min(200px, 14vw));
    --ring-border-size: calc(var(--ring-size) * 0.1);
    --ring-offset-left: calc(var(--ring-size) + var(--ring-border-size));
    --ring-offset-top: calc((var(--ring-size) - var(--ring-border-size)) * 0.5);
    --logo-size-w: calc((var(--ring-size) * 3 + var(--ring-border-size) * 2) * 1.5);
    --logo-size-h: calc((var(--ring-size) * 1.5 - var(--ring-border-size) * 0.5) * 2);
    --logo-bg-color: #f1f1f1;
}
header .nav-link {
    position: relative;
    z-index: 999999999999;
}
.header-wrapper {
    margin: 50px 0 0 0;
    position: relative;
}
header button a:hover {
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
    background: #1f74bacc;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #1f74bacc;
}
a.btn-show {
    background: #1f75ba !important;
    color: #fff;
}
#navbar {
    background: linear-gradient(-90deg, #212456 0%, #1f75ba 33%, #1f74bacc 66%, #263a7b 100%);
    border-bottom: none;
}
.nav-link:focus {
    outline: none;
}
.nav-link {
    font-weight: 600;
}
#mobile-menu .mobile-nav-link {
    margin-top: -7px;
    box-shadow:
        0 0 22px rgb(94 214 226 / 24%),
        0 2px 0 rgb(33 181 211 / 38%);
}
#mobile-menu-button .bg-cyan-400 {
    background-color: #bae3ea;
}
a.btn-show {
    background: #1f75ba;
}
a.btn-show:hover {
    background: #328fdc !important;
}
.btn-outline {
    background: var(--btn-outline-bg);
    color: #8cd6e2;
    border: 1px solid #8cd6e2;
}
.btn-outline:hover {
    background: #bae3ea;
    color: #fff;
}
.min-h-screen {
    background: linear-gradient(135deg, #c6ecf345, #bae3ea45, #fff);
}
.bg-neutral-light {
    background: none;
}
.section-text-under,
.card .text-small.text-neutral-muted,
.program-prices .leading-relaxed {
    color: #717171;
}
.section-text-under {
    margin-top: 10px;
}
.services .card .w-10 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #1f74bac7;
}
button.contact-btn.play-btn {
    background: linear-gradient(135deg, #bae3ea 0%, #b1dae1 45%, #b8e5ed 100%) !important;
    color: #2b2b2b;
    border: none;
    transition: all 0.25s ease;
    font-weight: 600;
    color: #212456;
}
.contact-btn.play-btn:hover {
    background: linear-gradient(135deg, #b7e7f0 0%, #bae3ea 50%, #aee3ec 100%);
    border: 1px solid #fff0;
}
.contact-btn.play-btn a:hover {
    text-decoration: none;
}
footer {
    background-image: url(../img/haeder_back.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
footer.bg-forest {
    background-image: url(../img/haeder_back.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.btn-primary-morning {
    background: #1f75ba;
    color: #fff;
}
.btn-primary-morning:hover {
    background: #1e6eaf;
    background-color: #1e6eaf;
}
.btn-secondary-evening {
    background: #bae3ea;
    color: #212456;
}
.btn-secondary-evening:hover {
    background: #a8cfd6;
    background-color: #a8cfd6;
}
@media screen and (max-width: 768px) {
    .prime_logo img {
        width: 90px !important;
        height: 95px !important;
    }
}
.banner-on-load {
    animation: bannerLoad 1.2s ease-out forwards;
}
body {
    overflow-x: hidden;
}
.error {
    color: #d11a1a;
    font-size: 15px;
}
@media screen and (max-width: 450px) {
    .prime_logo img {
        width: 80px !important;
        height: 85px !important;
    }
}
.center-fanous {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: swing 4s ease-in-out infinite alternate;
    z-index: 1;
    height: 200px;
}
.center-fanous svg {
    height: 138px;
}
@keyframes swing {
    from {
        transform: translateX(-50%) rotate(-4deg);
    }
    to {
        transform: translateX(-50%) rotate(4deg);
    }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .center-fanous {
        left: 4%;
    }
}
@media screen and (max-width: 1025px) and (min-width: 768px) {
    nav .items-center.space-x-1 {
        position: relative;
        left: 40px;
    }
}
@media screen and (max-width: 767px) {
    header #mobile-menu {
        margin-top: 35px;
    }
    .center-fanous{
        height: 142px;
    }
}
